* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(45deg, #8a2be2, #9400d3);
  height: 94vh;
}

.contener {
  max-width: 400px;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
}

button {
  padding: 5px 10px;
  display: inline-block;
}

.iniciar {
  background-color: green;
  border: none;
  border-radius: 10px;
  opacity: 0.6;
}

.iniciar:hover {
  opacity: 1;
}

.pausar {
  background-color: hotpink;
  border: none;
  border-radius: 10px;
  opacity: 0.6;
}

.pausar:hover {
  opacity: 1;
}

.parar {
  background-color: brown;
  border: none;
  border-radius: 10px;
  opacity: 0.6;
  display: none;
}

.parar:hover {
  opacity: 1;
}

h1 {
  text-align: center;
  font-size: xxx-large;
  color: #fff;
}

.box {
  text-align: center;
}
